SECRET_KEY=replace-with-long-random-secret-key
DEBUG=false

ALLOWED_HOSTS=aety.ru,www.aety.ru,127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=https://aety.ru,https://www.aety.ru

DB_NAME=dbae
DB_USER=aety_user
DB_PASSWORD=replace-with-database-password
DB_HOST=localhost
DB_PORT=5432

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
DEFAULT_FROM_EMAIL=replace-with-email@gmail.com
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=replace-with-email@gmail.com
EMAIL_HOST_PASSWORD=replace-with-gmail-app-password
EMAIL_USE_TLS=true
EMAIL_USE_SSL=false

LANGUAGE_CODE=ru-ru
TIME_ZONE=Europe/Moscow

SECURE_SSL_REDIRECT=true
SESSION_COOKIE_SECURE=true
CSRF_COOKIE_SECURE=true
SECURE_HSTS_SECONDS=31536000
SECURE_HSTS_INCLUDE_SUBDOMAINS=true
SECURE_HSTS_PRELOAD=false
